div.content {
    width: 550px;
    height: 300px;
    border: 1px solid gray;
    margin: 30px auto;
    padding: 10px;
}

form input[type="number"] {
    width: 90%;
}

form input[type="password"] {
    width: 90%;
}

div.fields {
    margin-bottom: 10px;
}

span {
    display: inline-block;
    color: red;
}

span.hide {
    display: none;
}
form input[type="button"]{
    text-align: center;
}
div.login{
    text-align: center;
}